{% extends 'wall/base.html' %}

{% block content %}

<h1>My wall of posts</h1>

<a href={% url 'post_new' %}>new post</a>

{% for post in wall_posts %}
<div class='wall-post'>
    <a href={% url 'post_detail' post.pk %}><h2>{{ post.title }}</h2></a>
    <p class='text'>{{ post.text }}</p>
    <p class='fotter'>  by {% firstof post.author.get_full_name post.author.username "Unknown user" %}
                        at <span class='date'>{{ post.created_date }}</span></p>
    <a href={% url 'comment_new' post.pk %}>comment</a>
</div>
{% endfor %}

{% endblock %}

//post.author.first_name post.author.last_name